body {background-color: #cccccc; color: #000000;}
section.section1 {background-color: #990000; color: white; visibility: hidden; position: relative; width: 600px;}
section.section2 {background-color: #000000; color: #990000; visibility: hidden; position: relative; width: 600px;}
footer {text-align: center;}
#saban {height: 25%; width: 25%; padding: 5pt;}
